QTextBrowser#scriptEdit { background: #fafafa }

QAbstractItemView#playlist_A {
   background: rgb(255, 220, 220);
}

QAbstractItemView#LightView {
   background: rgb(250, 250, 250);
}

QAbstractItemView#SequencePanel {
   background: rgb(250, 250, 250);
}

QAbstractItemView#playlist_B {
   background: rgb(220, 220, 255);
}